.footer {
	width: 100%;
	
	.footer-wrapper{
		width: 100%;
		@include flex-column;
		justify-content: space-between;
		gap: 6rem;

		.footer-card-container {
			width: 100%;
			@include flex-row;
			justify-content: space-between;
			.footer-card-contact {
			}
		}
		.fotter-info-container {
			width: 100%;
			@include flex-column;
			justify-content: space-between;
			gap: 1.2em;
			.social-conntainer {
				@include flex-row;
				justify-content: space-between;
				width: toProcent(196, $laptopWidth);
				object{
					width: 4rem;
					height: 4rem;
				}
			}

		}
	}
}
