.footer {
	width: 100%;

	.footer-wrapper {
		width: 100%;
		@include flex-column;
		justify-content: space-between;
		gap: 6rem;

		.card-container {
			width: 100%;
			@include flex-row;
			justify-content: space-between;
			.card-contact {
			}
		}
		.info-container {
			width: 100%;
			@include flex-column;
			justify-content: space-between;
			gap: 1.2em;
			.icon-container {
				@include flex-row;
				justify-content: space-between;
				width: toProcent(196, $laptopWidthWrapper);
				.item {
					width: 4rem;
					height: 4rem;
					padding: 0.8rem;
					svg{
						width: 24px;
						height: 24px;
					}
				}
			}
			.paragraph {
				line-height: 150%;
			}
			.caption{
				color: $dark;
			}
		}
	}
}
