html {
    font-size: 10px;
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    font-family: $primaryFont;
    margin: 0;
    bottom: 0;
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
}
li {
    list-style-type: none;
}
body {
    width: 100%;
    margin: 0 auto;
    font-size: 10px;

    header,
    main,
    footer {
        width: 100%;
        max-width: 144rem;
        margin: 0 auto;
        overflow: hidden;
        @include media-tablet {
            max-width: toRem($tabletWidth);
        }
        @include media-mobile {
            max-width: toRem($mobileWidth);
        }
    }
}
main {
    background-color: $primary;
    border-radius: 2rem 2rem 2rem 2rem;
}
footer {
    padding: 6rem 0;
    background: $static-white;
}

.wrapper {
    margin: 0 auto;
    @include media-laptop {
        max-width: 88.6111111111%;
    }
    @include media-tablet {
        max-width: 88.6111111111%;
        // max-width: 97.9166666667%;
    }
    @include media-mobile {
        max-width: 88.6111111111%;
    }
}
section {
    width: 100%;
    padding: 6rem 0;
}
.content {
    @include media-laptop {
        width: toProcent(426, $laptopWidthWrapper);
    }
    @include media-tablet {
        width: toRem(426);
        margin: 0 auto;
    }
    @include media-mobile {
        width: toProcent(364, $mobileWidthWrapper);
    }
}
button,
.item {
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
