/* montserrat-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("/assets/fonts/montserrat-v26-latin/montserrat-v26-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: url("/assets/fonts/montserrat-v26-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* allura-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Allura", cursive;
  font-style: normal;
  font-weight: 400;
  src: url("/assets/fonts/allura-v21-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
p {
  margin: 0;
}

//*-------------logo----------//

.logo-name {
  @include actionSmall;
  color: $dark;
}
//*-------------navigation----------//
.navItem-link {
  font-family: $primaryFont;
  font-size: 12px;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $dark;
}
//*-------------sections----------//
.caption {
  @include caption;
}
.header1 {
  @include header1;
}

.header2 {
  @include header2;
}
.paragraph {
  @include paragraph;
}

.item-text {
  @include slider-sectionText;
  color: $static-white;
}

//*-------------buttons----------//
.btn-primary {
  @include buttonsPrimaryText;
}
.tab {
  @include actionSmall;
}
//*-------------timer----------//
.timer-num {
  @include header2;
  color: $static-white;
}
.timer-text {
  @include header4;
  color: $static-white;
}
//*-------------cards----------//
.card-category {
  @include header4;
  text-transform: uppercase;
  color: $tag-purple;
  letter-spacing: 0.05em;
}
.card-description {
  @include header3;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  color: $dark;
  line-height: 150%;

}
.card-info {
  @include actionLarge;
  letter-spacing: 0.16em;
  color: $dark;
  line-height: 150%;
}




