.cta {
  padding: 6rem 0;

  background-image: url('/assets/images/png/bg-forest.png'), url('/assets/images/png/bg-snow.png'),;
  background-position: center;
  background-size: cover;
  background-color: $primary;

  border-radius: 0 0 2rem 2rem;
  .cta-wrapper {
    padding: 6rem 0;
    height: 100%;
    .cta-content {
      height: 100%;
      margin: 0 auto;
      padding: 6em 0;
      @include flex-column;
      gap: 2em;
      justify-content: space-between;
      .header2 {
        text-align: center;
        width: 100%;
        letter-spacing: 0.16em;
        color: $static-white;
        line-height: 153%;
      }

      .timer-container {
        @include flex-column;
        gap: 0.8em;
        width: 100%;
        .caption {
          width: 100%;
          text-align: center;
          color: $static-white;
        }
      }
    }
  }
}
