.gifts {
  width: 100%;
  background-image: url(/assets/images/png/bg-snow.png);
  background-position: center;
  background-size: cover;
  background-color: $primary;
  padding: 60px 0px;
  .gifts-wrapper {
    height: 100%;
    @include flex-column;
    gap: 2rem;
    justify-content: space-between;
    .gifts-content {
      width: toProcent(426, $laptopWidthWrapper);
      margin: 0 auto;
      text-align: center;
      @include flex-column;
      justify-content: space-between;

      gap: 1.2rem;
      .caption {
        color: $static-white;
        width: 100%;
      }
      .header2 {
        color: $static-white;
        letter-spacing: 0.16em;
        width: 100%;
        line-height: 150%;
      }
    }
    .tabs-container {
      @include flex-row;
      justify-content: space-between;
      width: toProcent(474, $laptopWidthWrapper);
      // height: 4rem;
      margin: 0 auto;
    }
    .gifts-container {
      width: 100%;
      height: 100%;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      justify-content: space-between;
      row-gap: 1.2rem;
    }
  }
}
