.gifts {
  width: 100%;
  background-image: url(/christmas-shop/assets/images/png/bg-snow.png);
  background-position: center;
  background-size: cover;
  background-color: $primary;
  padding: 60px 0px;
  height: 55.4rem;
  .gifts-wrapper {
    height: 100%;
    @include flex-column;
    gap: 2rem;
    justify-content: space-between;
    .gifts-header {
      width: toProcent(426, $laptopWidth);
      margin: 0 auto;
      text-align: center;
      @include flex-column;
      justify-content: space-between;
      height: 7.2rem;
      gap: 1.2rem;
      .gifts-caption {
      }
      .gifts-headerText {
      }
    }
  }
  .gifts-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
  }
}
