.gifts {
  width: 100%;
  background-image: url(../assets/images/png/bg-snow.png);
  background-position: center;
  background-size: cover;
  background-color: $primary;
  padding: 60px 0px;
  .gifts-wrapper {
    height: 100%;
    @include flex-column;
    gap: 2rem;
    justify-content: space-between;
    .gifts-content {
      margin: 0 auto;
      text-align: center;
      @include flex-column;
      justify-content: space-between;
      .header1 {
        color: $static-white;
      }
      gap: 1.2rem;
      .caption {
        color: $static-white;
        width: 100%;
      }
      .header2 {
        color: $static-white;
        letter-spacing: 0.16em;
        width: 100%;
        line-height: 150%;
      }
    }
    .tabs-container {
      @include flex-row;
      justify-content: space-between;
      width: toRem(474 );
      margin: 0 auto;
    }
    .gifts-container {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      @include media-tablet{
        justify-content: center;
      }
      column-gap: 1.2rem;
      row-gap: 1.2rem;
      flex-wrap: wrap;
    }
  }
}
//**-------gift-page---------**//
.gift-page {
  background-image: url("../assets/images/png/bg-garland.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
  .gifts-wrapper {
    .gifts-container {
      row-gap: 1.2rem;
    }
  }
}
