.main {
    .hero {
      width: 100%;
      background-image: url(../assets/images/png/bg-ball.png), url(../assets/images/png/bg-snow.png);
      background-position: center;
      background-size: cover;
      background-color: $primary;
      border-radius: 20px 20px 0 0;
      padding: 60px 0px;
      .hero-content {
        width: toRem(426);
        height: 100%;
        margin: 0 auto;
        padding: 6em 0;
        @include flex-column;
        gap: 1.2em;
        justify-content: space-between;
        .caption {
          color: $static-white;

        }
        .header1 {
          text-align: center;
          color: $static-white;
        }

        .hero-buttton {
          color: $static-white;
        }
      }
    }

}
