.slider-section {
  padding: 6rem 0;
  background-image: url(/assets/images/png/bg-snow.png);
  background-position: center;
  background-size: cover;
  background-color: $primary;
  .slider-section-wrapper {
    @include flex-column;
    gap: 2rem;
    .slider-section-content {
      width: toProcent(426, $laptopWidthWrapper);
      @include flex-column;
      gap: 1.2rem;
      .caption {
        text-align: center;
        color: $static-white;
        width: 100%;
      }
      .header2 {
        text-align: center;
        width: 100%;
        color: $static-white;
        letter-spacing: 0.16em;
        line-height: 150%;
      }
    }
    .slider-body {
      width: 100%;
      .slider {
        @include flex-row;
        align-items: center;
        flex-wrap: nowrap;
        gap: 2rem;
        .slider-img {
          border-radius: 2rem;
          width: 20rem;
          height: 20rem;
        }
      }
    }
    .btn-container {
      @include flex-row;
      gap: 2rem;
      width: 100%;
      justify-content: end;
    }
  }
}
