.slider {
  padding: 6rem 0;
  background-image: url(/christmas-shop/assets/images/png/bg-snow.png);
  background-position: center;
  background-size: cover;
  background-color: $primary;
  .slider-wrapper {
    @include flex-column;
    gap: 2rem;
    .slider-header {
      width: toProcent(426, $laptopWidth);
      @include flex-column;
      .slider-caption {
        text-align: center;
      }
      .slider-headerText {
        text-align: center;
      }
    }
    .slider-container {
      width: 100%;
      .slider-body {
        @include flex-row;
        align-items: center;
        flex-wrap: nowrap;
        gap: 2rem;
        .slider-image {
          border-radius: 2rem;
          width: 20rem;
          height: 20rem;
        }
      }
    }
    .slider-buttons__container {
      @include flex-row;
      gap: 2rem;
      width: 100%;
      justify-content: end;
    }
  }
}
