button {
  width: 100%;
  border-radius: 2rem;
  transition: all 0.3s ease-in-out;
}
.btn-primary {
  width: 23.5rem;
  height: 5.6rem;
  // padding: 2rem 3.2rem;
  background-color: $dark;
  color: $static-white;
  border: none;
}
.btn-slider {
  border: 1px solid $static-white;
  width: 5.6rem;
  height: 5.6rem;
  background-color: transparent;
}
.btn-slider__disable {
  cursor:auto;

  border-color: $static-white-40;

}

.up-button {
  border: 1px solid $primary;
  border-radius: 10rem;
  width: 5.6rem;
  height: 5.6rem;
  background: $static-white;
}
//*-------------tabs-----------//

.tabs-container {
  .tab:nth-child(1) {
    background: $static-white-20;
  }
  .tab {
    height: 4rem;
    width: max-content;
    border-radius: 1.2rem;
    padding: 1.2rem 2rem;
    border: none;
    background-color: transparent;
    color: #fff;
    transition: background-color 0.3s ease-in-out;
  }
}
//?-------hovering-------//
.tab:hover {
  background: $static-white-20;
}

//*-------------hovering-----------//
.btn-primary:hover {
  background-color: $static-white;
  color: $dark;
}
.btn-slider:hover {
  background-color: $static-white;
  svg path {
    stroke: $primary;
  }
}
.btn-slider__disable:hover{
  background-color: inherit;
  cursor: inherit;
  transform: none;
  svg path {
    stroke: white;

  }
}



.header-gift-page {
  .header-wrapper {
    .navigation {
      .navigation-list {
        .navigation-items:nth-child(1) {
          .item {
            @extend %active-color;
            @extend %hovering;

          }
        }
      }
    }
  }
}

/**----------------- not active------------------**/
.uninteractive {
  pointer-events: none;
}