.burger-icon {
  width: 4rem;
  height: 4rem;
  @include flex-column;
  justify-content: center;
  gap: 0.8rem;

  .burger-line {
    width: 2.2rem;
    height: 0.2rem;
    background-color: $dark;
  }
}
.burger-icon:hover {
  cursor: pointer;
}

//********  BURGER ANIMATIONS  ********//
.burger-icon-active {
  position: relative;
  .burger-line:nth-child(1) {
    transition: all 0.3s ease-in-out;
    position: absolute;
    top: 50%;
    transform: rotate(45deg);
  }

  .burger-line:nth-child(2) {
    transition: all 0.3s ease-in-out;
    position: absolute;
    top: 50%;
    transform: rotate(-45deg);
  }
}
.scroll-stop{
  overflow: hidden;
}